{
    "extends": "eslint:recommended",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 8
    },
    "rules": {
        "semi": "warn",
        "prefer-arrow-callback": "warn",
        "no-var": "warn",
        "prefer-const": "warn",
        "no-duplicate-imports": "warn"
    }
}
