{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint"
}
